<AuthorizeView>
    <Authorized>
        <span>Willkommen, @context.User.Identity.Name!</span>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link border-0"><i class="glyphicon glyphicon-log-out"></i></button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
