@inject NavigationManager UriHelper

<div class="top-row px-4">
    <div class="row mr-auto">
        <AuthorizeView>
            <Authorized>
                <a class="nav-link" href="DataSheet" @onclick:preventDefault @onclick="@(()=>UriHelper.NavigateTo(UriHelper.BaseUri + "DataSheet", true))">
                    Aufträge
                </a>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <a class="nav-link" href="StatSheet" @onclick:preventDefault @onclick="@(()=>UriHelper.NavigateTo(UriHelper.BaseUri + "StatSheet", true))">
                    Statistik
                </a>
            </Authorized>
        </AuthorizeView>
    </div>
    <div class="row align-items-center">
        <LoginDisplay />
    </div>
</div>